<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% block content %}
        <h1>Machine Learing Project</h1>
        <div class="input_form">
            <form method="POST" autocomplete="off">
                {% csrf_token %} 
                <input type="text" placeholder="Your Name" name="name"><br>
                <input type="text" placeholder="Gender" name="gender"><br>
                <input type="Age" placeholder="Age" name="age"><br>
                <input type="EstimatedSalary" placeholder="EstimatedSalary" name="es_salary"><br>
                <a href="/find"><input type="submit" value="submit"></a>
            </form>
        </div>
        {% endblock %}
    </body>
</html>